<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://csinhnb076.campsys.com:776/XIVDB.QueueService.svc/Queue"
        binding="wsHttpBinding" bindingConfiguration="Queue" contract="XIVDBQueueService.IQueueService"
        name="Queue">
        <identity>
          <servicePrincipalName value="host/CSINHNB076.campsys.com" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceQueue" />
        <binding name="Queue" />
      </wsHttpBinding>
    </bindings>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="Queue.QueueService" behaviorConfiguration="ServiceQueueBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:776/"/>
          </baseAddresses>
        </host>
        <endpoint address="/Queue"
                  binding="wsHttpBinding"
                  contract="XIVDBQueueService.IQueueService"
                  name="Queue"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceQueueBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>